:root{
  --text-color: #CCCCCC;
  --dark-gray: #212121;

  --primary-color: #0F292F;
  --secondary-color: #501F3A;
  --light-primary-color: #13A098;
  --light-secondary-color: #CB2D6F;
  --light-secondary-color-rgba: rgba(203, 45, 111, 0.5);

  --error: #FF6347;
  --success: #50C878;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background: var(--dark-gray);
  color: var(--text-color);
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background:  var(--dark-gray);
  color: var(--text-color);
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.game {
  width: 800px;
  height: 600px;
  background-image: url('../assets/images/fundo_01.png');
  /* background-image: url('../../assets/images/estagio_1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  /*animation: scroll-background 5s linear infinite;*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  position: absolute;
  background: var(--success);
  color: var(--text-color);
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.game-over {
  display: none;
  position: absolute;
  background: var(--error);
  color: var(--text-color);
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.game-over .top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-over .top .left img{
  width: 240px;
}

.next-phase{
  display: none;
  position: absolute;
  background: var(--success);
  color: var(--text-color);
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.markers{
  position: absolute;
  height: 240px;
  top: calc(50%- 120px);
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  color: var(--text-color);
}

.btn-lose {
  border: 2px solid var(--text-color);
  border-radius: 20px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background-color: var(--error);
  color: var(--text-color);
  padding: 10px 40px;
  font: 14px sans-serif;
}

.btn-lose:hover{
  opacity: 0.7;
  transition: all ease 0.2s;
}

.btn-win{
  border: 2px solid var(--text-color);
  border-radius: 20px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background-color: var(--success);
  color: var(--text-color);
  padding: 10px 40px;
  font: 14px sans-serif;
}

.btn-win:hover{
  opacity: 0.7;
  transition: all ease 0.2s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
