.header-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 10vh;
  background-color: var(--dark-gray);
  color: var(--off-white);
}

.header-navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-gray);
  height: 90vh;
  width: 250px;
  top: 10vh;
  /* left: 0; */
  overflow-x: hidden;
  animation: slide-x .5s ease-in-out;
  /* height: 90vh; */
}

.header-navbar img{
  width: 60px;
  border-radius: 50%;
}

.header-navbar ul{
  list-style: none;
}

.header-navbar ul li{
  padding: 1.2rem;
  text-align: left;
  border-bottom: 1px solid var(--medium-gray);
}

.header-navbar ul li:not(:last-child){
  margin-bottom: 1.4rem;
}

.header-navbar ul a{
  text-decoration: none;
  color: var(--off-white);
}

.header-navbar ul a:hover{
  transition: .5s all ease;
  color: var(--medium-gray);
}


.header-icon{
  cursor: pointer;
  margin-left: 1.2rem;
}

.hidden{
  display: none;
  visibility: hidden;
}

@keyframes slide-x{
  0% {
    left: -250px;
  }
  100% {
    left: 0;
  }
}