.lucide-icons-2 {
   color: var(--dark-gray);
}

.aside-icons, .lucide-icons {
   border-bottom: 1px solid var(--light-secondary-color);
}

.header {
   position: sticky;
   top: 0;
}

.header .navbar .input-search {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.header .navbar .profile {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   gap: 10px;
   cursor: pointer;
}

.header .navbar .profile-option {
   display: none;
   position: absolute;
   top: 8vh;
   right: 14%;
   width: 165px;
   background-color: var(--dark-gray);
   color: var(--text-color);
   border: 1px solid var(--light-primary-color);
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 0.5s ease;
}

.header .navbar .profile-option ul {
   width: 100%;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
}

.header .navbar .profile-option ul li {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header .navbar .profile-option ul li a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header .navbar .input-search .input-container {
   position: relative;
   width: 100%;
   max-width: 300px;
}

.header .navbar .input-search .input-container input {
   width: 100%;
   padding: 10px 10px 10px 40px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   color: var(--dark-gray);
}

.header .navbar .input-search .input-container .lucide-icons {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: var(--text-color);
   pointer-events: none;
   border: none;
}

.container {
   display: flex;
   flex-direction: row;
   background-color: var(--dark-gray);
   height: fit-content;
}

.container .container-aside {
   position: sticky;
   top: 10vh;
}

.container .container-aside, .container .container-aside ul {
   height: 90vh;
   width: 20%;
   max-width: 480px;
}

.container .container-aside ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   list-style: none;
   gap: 3rem;
   padding: 2rem 0 0 2rem;
}

.container .container-aside ul li a {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   text-decoration: none;
}

.container .container-main {
   width: 80%;
   padding-top: 2rem;
   margin-right: 10rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.container .container-main .add-comment{
   width: 100%;
   box-shadow: 0 2px 5px var(--light-secondary-color);
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.container .container-main .add-comment .add-post{
   width: 240px;
   margin-top: 10px;
   background-color: var(--light-secondary-color);
   color: var(--text-color);
   border: none;
   border-radius: 4px;
   padding: 10px 15px;
   cursor: pointer;
   transition: .5s all;
   align-self: flex-end;
}

.container .container-main .add-comment .add-post:hover{
   scale: 1.1;
}

.container .container-main .add-comment .input-container{
   position: relative;
   width: 80%;
}

.container .container-main .add-comment .input-container input, .container .container-main .add-comment .input-container textarea{
   width: 100%;
   padding: 10px 40px 10px 10px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   color: var(--dark-gray);
}

.container .container-main .add-comment .input-container .lucide-icons{
   position: absolute;
   right: 10px; 
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: var(--text-color);
   cursor: pointer;
}

.container .container-main .post {
   background-color: var(--dark-gray);
   border-radius: 5px;
   box-shadow: 0 2px 5px var(--light-secondary-color);
   padding: 20px;
   margin-bottom: 20px;
}

.container .container-main .post .post-title {
   margin-top: 2rem;
   font-size: 1.2em;
   margin-bottom: 10px;
   color: var(--text-color);
}

.container .container-main .post .post-owner{
   margin: 10px 0;
   padding: 10px;
   background-color: var(--dark-gray);
   border-left: 4px solid var(--light-secondary-color);
}

.container .container-main .post .post-content {
   font-size: 1em;
   line-height: 1.6;
   color: var(--text-color) !important;
}

.container .container-main .post .comments-section {
   margin-top: 20px;
   border-top: 1px solid var(--light-primary-color);
   padding-top: 10px;
}

.container .container-main .post .comments-section h2 {
   font-size: 1.2em;
   color: var(--text-color);
}

.container .container-main .post .comments-section .comment {
   margin: 10px 0;
   padding: 10px;
   background-color: var(--dark-gray);
   border-left: 4px solid var(--light-primary-color);
}

.container .container-main .post .comments-section-button .comment-form {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.container .container-main .post .comments-section-button .comment-form textarea {
   width: 100%;
   height: 80px;
   border: 1px solid var(--text-color);
   border-radius: 4px;
   padding: 10px;
   resize: none;
}

.container .container-main .post .comments-section-button .comment-form button {
   width: 240px;
   margin-top: 10px;
   background-color: var(--light-secondary-color);
   color: var(--text-color);
   border: none;
   border-radius: 4px;
   padding: 10px 15px;
   cursor: pointer;
   transition: .5s all;
   align-self: flex-end;
}

.container .container-main .post .comments-section .comment-form button:hover {
   background-color: var(--light-primary-color);
   scale: 1.1;
}

.container .container-main .post .post-comments .comment:not(:last-child) {
   margin-bottom: 1.2rem;
}

.container .container-main .post .post-comments .comment span:first-child {
   display: inline-block;
   width: fit-content;
   border-bottom: 1px solid var(--light-primary-color);
   margin-bottom: 1.2rem;
}

.container .container-main .post .post-comments .comment span {
   color: var(--dark-gray);
}

.toast {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: var(--text-color);
   text-align: center;
   border-radius: 10px 10px 0 0;
   position: fixed;
   z-index: 1;
   right: 30px;
   bottom: 30px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.toast .toast-text {
   padding: 16px;
   color: var(--dark-gray);
}

.toast .toast-timer {
   width: calc(100%);
   height: 3px;
   /* background-color: var(--success); */
   /* margin-bottom: 1px; */
}

.toast.show {
   visibility: visible;
   animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.toast.show .toast-timer {
   animation: countDown 2.8s;
}


@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

@keyframes countDown {
   from {
      width: 100%;
   }

   to {
      width: 0%;
   }
}