.aside-icons,
.lucide-icons {
   border-bottom: 1px solid var(--light-secondary-color);
}

.lucide-icons.add {
   border-bottom: none;
   color: var(--dark-gray) !important;
}

.header {
   position: sticky;
   top: 0;
}

.header .navbar .input-search {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.header .navbar .profile {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   gap: 10px;
   cursor: pointer;
}

.header .navbar .profile-option {
   display: none;
   position: absolute;
   top: 8vh;
   right: 14%;
   width: 165px;
   background-color: var(--dark-gray);
   color: var(--text-color);
   border: 1px solid var(--light-primary-color);
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 0.5s ease;
}

.header .navbar .profile-option ul {
   width: 100%;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
}

.header .navbar .profile-option ul li {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header .navbar .profile-option ul li a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.header .navbar .input-search .input-container {
   position: relative;
   width: 100%;
   max-width: 300px;
}

.header .navbar .input-search .input-container input {
   width: 100%;
   padding: 10px 10px 10px 40px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   color: var(--dark-gray);
}

.header .navbar .input-search .input-container .lucide-icons {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 18px;
   color: var(--text-color);
   pointer-events: none;
   border: none;
}

.container {
   display: flex;
   flex-direction: row;
   background-color: var(--dark-gray);
   height: fit-content;
}

.container .container-aside {
   position: sticky;
   top: 10vh;
}

.container .container-aside,
.container .container-aside ul {
   height: 90vh;
   width: 20%;
   max-width: 480px;
}

.container .container-aside ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   list-style: none;
   gap: 3rem;
   padding: 2rem 0 0 2rem;
}

.container .container-aside ul li a {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   text-decoration: none;
}

.container .container-main {
   width: 80%;
   padding-top: 2rem;
   margin-right: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.container .container-main .all-genres{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   padding: 10xp;
   color: var(--dark-gray);
}

.container .container-main .all-genres .column{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   min-height: 200px;
   max-height: 200px;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px;
   border: 1px solid var(--light-primary-color);
   border-radius: 5px;
}

.container .container-main .all-genres .column .genre{
   border: 1px solid var(--light-secondary-color);
   padding: 10px;
   border-radius: 5px;
   width: 240px;
   height: 50px;
   text-align: start;
   text-justify: inter-word;
}

.container .container-main .all-genres .column .genre.dragging{
   opacity: 0.2;
}