.aside-icons, .lucide-icons {
  border-bottom: 1px solid var(--light-secondary-color);
}


.header {
  position: sticky;
  top: 0;
}

.header .navbar .input-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header .navbar .profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.header .navbar .profile-option {
  display: none;
  position: absolute;
  top: 8vh;
  right: 14%;
  width: 165px;
  background-color: var(--dark-gray);
  color: var(--text-color);
  border: 1px solid var(--light-primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  animation: fadeIn 0.5s ease;
}

.header .navbar .profile-option ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.header .navbar .profile-option ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .navbar .profile-option ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .navbar .input-search .input-container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.header .navbar .input-search .input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: var(--dark-gray);
}

.header .navbar .input-search .input-container .lucide-icons {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--text-color);
  pointer-events: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: var(--dark-gray);
  height: fit-content;
}

.container .container-aside {
  position: sticky;
  top: 10vh;
}

.container .container-aside, .container .container-aside ul {
  height: 90vh;
  width: 20%;
  max-width: 480px;
}

.container .container-aside ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  gap: 3rem;
  padding: 2rem 0 0 2rem;
}

.container .container-aside ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.container .container-main {
  width: 80%;
  padding-top: 2rem;
  margin-right: 10rem;
}

.container .container-main .profile-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--light-secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.container .container-main .profile-header .side{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container .container-main .profile-header .input-container{
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 1rem 2rem;
}

.container .container-main .profile-header .input-container input{
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
}

.container .container-main .profile-header .input-container .lucide-icons{
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
}

.container .container-main .profile-header .profile-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 4rem;
}

.container .container-main .profile-header .profile-button button{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: .5s all ease;
  width: 300px;
  height: 50px;
  color: var(--dark-gray);
}

.container .container-main .profile-header .profile-button button:hover{
  scale: 1.1;
  cursor: pointer;
}

.container .container-main .profile-header .profile-button button.btn-change-password{
  background-color: var(--error);
  color: var(--text-color);
}

.container .container-main .profile-header .profile-button button.btn-update-data{
  background-color: var(--success);
}

.container .container-main .profile-activity{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.container .container-main .profile-activity .profile-posts,
.container .container-main .profile-activity .profile-recipes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container .container-main .profile-activity .profile-posts{
  border-right: 1px solid var(--light-secondary-color);
}

.container .container-main .profile-activity .profile-recipes{
  border-left: 1px solid var(--light-secondary-color);
}

.container .container-main .profile-activity .profile-posts .post{
  background-color: var(--dark-gray);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--light-secondary-color);
  padding: 20px;
  margin: 0 20px 20px 0;
  width: 100%;
}

.container .container-main .profile-activity .profile-posts .post .post-title{
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--text-color);
  text-align: center;
}

.container .container-main .profile-activity .profile-posts .post .post-content{
  font-size: 1em;
  line-height: 1.6;
  color: var(--text-color) !important;
}

.container .container-main .profile-activity .profile-recipes .recipes{
  background-color: var(--dark-gray);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--light-secondary-color);
  padding: 20px;
  margin: 0 0 20px 20px;
  width: 100%;
}

.container .container-main .profile-activity .profile-recipes .recipes .recipe-title{
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--text-color);
  text-align: center;
}

.container .container-main .profile-activity .profile-recipes .recipes .recipe-title.error{
  font-size: 1.2em;
  margin-bottom: 10px;
  color: var(--text-color);
  text-align: center;
}

.container .container-main .profile-activity .profile-recipes .recipes .recipe-content{
  font-size: 1em;
  line-height: 1.6;
  color: var(--text-color) !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}