@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --text-color: #CCCCCC;
   --dark-gray: #212121;

   --primary-color: #0F292F;
   --secondary-color: #501F3A;
   --light-primary-color: #13A098;
   --light-secondary-color: #CB2D6F;
   --light-secondary-color-rgba: rgba(203, 45, 111, 0.5);

   --error: #FF6347;
   --success: #50C878;

   --small: 12px;
   --medium: 24px;
   --large: 48px;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', 'Verdana', sans-serif;
   color: var(--text-color);
}

html {
   scroll-behavior: smooth;
}

.lucide-icons{
   color: var(--text-color);
}

.header{
   border-bottom: 1px solid var(--light-primary-color);
   height: 10vh;
}

.header .navbar{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   height: inherit;

   background-color: var(--primary-color);
}

.header .navbar img{
   width: 120px;
}

.header .navbar .lucide-icons{
   border-bottom: 1px solid var(--light-secondary-color);
   cursor: pointer;
}

.header .navbar .navbar-list{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   gap: 1.5rem;
}

.header .navbar .navbar-list li{
   list-style: none;
   transition: .5s all ease;
}

.header .navbar .navbar-list a{
   text-decoration: none;
   border-bottom: 1px solid var(--light-secondary-color);
   
}

.header .navbar .navbar-list li:hover{
   scale: 1.1;
}

.footer{
   background-color: var(--primary-color);
   height: fit-content;
}

.footer .footer-main{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;

   border-bottom: 1px solid var(--light-secondary-color);
}

.footer .footer-footer{
   text-align: center;
   padding: 1.2rem 0;
}

.footer .footer-main .footer-infos, .footer .footer-main .footer-icons{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   gap: 20px;
   padding: 1.2rem 0;
}

@keyframes fadeIn {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}