@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
   --text-color: #CCCCCC;
   --dark-gray: #212121;

   --primary-color: #0F292F;
   --secondary-color: #501F3A;
   --light-primary-color: #13A098;
   --light-secondary-color: #CB2D6F;

   --small: 12px;
   --medium: 24px;
   --large: 48px;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', 'Verdana', sans-serif;
   color: var(--text-color);
}

html {
   scroll-behavior: smooth;
}

.lucide-icons{
   color: var(--text-color);
}

.header{
   border-bottom: 1px solid var(--light-primary-color);
   height: 10vh;
}

.header .navbar{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   height: inherit;

   background-color: var(--primary-color);
}

.header .navbar img{
   width: 120px;
}

.header .navbar .lucide-icons{
   border-bottom: 1px solid var(--light-secondary-color);
   cursor: pointer;
}

.header .navbar .navbar-list{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   gap: 1.5rem;
}

.header .navbar .navbar-list li{
   list-style: none;
   transition: .5s all ease;
}

.header .navbar .navbar-list a{
   text-decoration: none;
   border-bottom: 1px solid var(--light-secondary-color);
   
}

.header .navbar .navbar-list li:hover{
   scale: 1.1;
}

article{
   animation: fadeIn 2s ease;
}

.container{
   background-color: var(--light-primary-color);
   height: 90vh;
}

.container .container-main{
   height: fit-content;
   height: 90vh;
}

.container .container-main .section-intro{
   background-image: url('./assets/images/bg-landing-page.jpeg');
   background-size: cover;
   background-repeat: no-repeat;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   width: 100%;
   height: 80vh;
}

.container .container-main .section-intro article{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
}

.container .container-main .section-intro article h1{
   color: var(--light-secondary-color);
   font-size: 2rem;
}

.container .container-main .section-intro article p{
   font-size: 1.2rem;
}

.container .container-main .section-intro article a{
   text-decoration: none;
   background-color: var(--light-secondary-color);
   padding: 10px 20px;
   border-radius: 10px;
   transition: .5s all ease;
}

.container .container-main .section-intro article a:hover{
   scale: 1.1;
}

.container .container-main .section-about{
   background-color: var(--dark-gray);
   height: fit-content;
   /* border: 1px solid green; */
}

.container .container-main .section-about article{
   width: 75%;
   margin: 0 auto;
   padding: 1.2rem;
}

.container .container-main .section-about article h1{
   display: inline-block;
   border-bottom: 1px solid var(--light-secondary-color);
   color: var(--light-primary-color);
   margin-top: 1%;
   font-size: 2rem;
}

.container .container-main .section-about article p{
   margin-top: 1%;
}

.container .container-main .section-about article .about-cards{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   width: 100%;
   margin-top: 1.2rem;
   gap: 15px;
}

.container .container-main .section-about article .about-cards .card{
   width: 100%;
   height: 300px;
   padding: 10px;
   text-align: center;
   background-color: var(--light-primary-color);
   border-radius: 10px;
}

.container .container-main .section-about article .about-cards .card h4{
   display: inline-block;
   border-bottom: 1px solid var(--secondary-color);
}

.container .container-main .section-about article .about-cards .card ul li{
   list-style: none;
}

.container .container-main .section-for{
   background-color: var(--primary-color);
   color: var(--text-color);
}

.container .container-main .section-for article{
   text-align: right;
   width: 75%;
   margin: 0 auto;
   padding: 1.2rem;
}

.container .container-main .section-for article h1{
   display: inline-block;
   border-bottom: 1px solid var(--light-primary-color);
   color: var(--light-secondary-color);
   font-size: 2rem;
}

.container .container-main .section-for article p{
   margin-top: 1%;
   text-align: justify;
}

.container .container-main .section-graphic{
   background-color: var(--dark-gray);
}

.container .container-main .section-graphic article{
   width: 75%;
   margin: 0 auto;
   padding: 1.2rem;
}

.container .container-main .section-graphic article h1{
   display: inline-block;
   color: var(--light-primary-color);
   border-bottom: 1px solid var(--light-secondary-color);
   font-size: 2rem;
}

.container .container-main .section-graphic .graphic-content{
   margin-top: 1.5rem
}

.container .container-main .section-graphic .graphic-content canvas:first-of-type{
   margin-bottom: 3rem;
}

.container .container-main .section-graphic .graphic-content span{
   font-size: 1.5rem;
   font-weight: 700;
}

.footer{
   background-color: var(--primary-color);
}

@keyframes fadeIn {
   from{
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}